* {
    margin:0;
    padding:0;
    border:0;
    font-size: 100%;
    font:inherit;
}
.header{
    background-color: rgb(250, 151, 21);
    height:60px;
    display: flex;
    justify-content: space-between;
}
.right li{
    display:inline;
    list-style: none;
    margin-right: 35px;
    padding: 10px;    
}
.right ul{
    padding-top: 20px;
}
.right a{
    text-decoration: none;
    color:white;
    font-family: sans-serif;
}
.header a:hover{
    background-color: rgba(0, 0, 0, .3);
    border-radius: 7px;
    padding:3px
}
.right{
    
    height: inherit;
    align-self: flex-end;
    
}

.left{

    height:inherit;
    align-self: flex-start;
    
}
.left h3{
    color:white;
    font-family: sans-serif;
    padding:20px;
    padding-left: 40px;
    
}
.content{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.box{
    display: inline-block;
    border:rgb(250, 151, 21) solid 2px;
    border-radius: 5px;
    max-width: 300px;
    margin: 30px 45px 30px 45px;
}
.box h2{
    font-weight:lighter;
    font-family: sans-serif;
    font-size: 30px;
    padding-left:10px;
    padding-top:10%;
}
.box p{
    padding: 20px 
}
.Dashboard{
    margin-left:10%;
}
.Money{
    margin-right: 10%;
}
.box a{
    display:inline-block;
    background-color: rgb(241, 154, 40);
    padding: 5px 60px;
    color:white;
    text-decoration: none;
    font-family: sans-serif;
    margin-bottom: 30px;
    margin-left: 15%;
    margin-right: 15%;
}
